html
  head
    title= title
    link(rel='stylesheet', href='/css/c.css')
  body
    section(class="main")
      ul
        -
        each item in list
          li= item
    script(src="/js/c.js")
    