html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #004683  solid !important;
    font-size: 16px;
    height: 100%;
}

.nav-link {
    font-size: 14px !important;
    background: transparent !important;
    font-family: Lato, sans-serif !important;
    text-transform: capitalize !important;
}
.nav-link:hover {
    background: transparent !important;
    color: #0074D9  !important;
    font-weight: bold !important;
}

.login-btn {
    border: 2px solid #0074D9 !important;
    font-size: 10px !important;
}
.login-btn:hover {
    background: #0074D9  !important;
}
.navbar {
box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #0074D9 !important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 140px 50px !important;
    color: #fff !important;
    background-image: url("../assets/wavy-blue.svg") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

@media (max-width: 500px) {
    .heading {
        padding-top: 10px !important;
    }
    .heading .title {
        line-height: 50px !important;
    }
    #head-scroll-down {
        font-size: 30px !important;
        line-height: 33px;
    }
}

#head-scroll-down {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

#head-scroll-down span {
    padding: 7px;
    width: 35px;
    height: 55px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 23px;
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #0074D9  !important;
    padding: 0 50px 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
    position: relative;
}
.features .title {
    opacity: 0;
    transition: opacity 1s;
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
    padding-top: 0;
}

.features .subtitle {
    opacity: 0;
    transition: opacity 1s;
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .cards {
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.features .card {
    flex-basis: 28rem;
    box-shadow: 10px 5px 25px 10px rgba(0, 0, 0, 0.2) !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}

.x-fade-in {
    opacity: 1 !important;
}

@media (max-width: 970px) {
    .features .cards {
        flex-direction: column;
    }
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #0074D9  !important;
}

.statistics {
    text-align: center !important;
    padding-top: 180px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
    text-align: center;
}
.start {
    padding: 60px 50px !important
}

.start .title {
    font-size: 56px !important;
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #0074D9 ;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #0074D9  !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}

/*@media (max-width: 720px) {
    .statistics {
        display: none;
    }
    .start {
        display: none;
    }
}*/