.twitchcards {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
}

.twitchcard {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(47, 53, 58, 0.5);
    overflow: hidden;
    text-align: center;
    border-bottom: #3A4149 solid 1px;
    cursor: pointer;
}

.twitchcard:hover {
    background-color: rgba(47, 53, 58, 1);
}

.twitchcard:last-child {
    border-bottom: none;
}

.twitchcard .tc-left {
    border-left: rgb(63, 98, 204) solid 6px;
    flex-grow: 2;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: rgb(153, 170, 177);
    border-right: #3A4149 solid 1px;
}

.twitchcard .tc-left>div {
    width: 100%;
}

.twitchcard .tc-center {
    flex-grow: 2;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: rgb(196, 215, 223);
}

.twitchcard .tc-center>div {
    width: 100%;
}

.twitchcard .tc-buttons {
    flex-grow: 1;
    background-color: #16212b;
    font-size: 1.3em;
    line-height: 1.7;
    color: rgb(44, 74, 165);
    cursor: default;
    padding-left: 5px;
}

.twitchcard .tc-buttons>div {
    display: flex;
    height: 100%;
    width: 70px;
    align-items: center;
    justify-content: space-around;
}

.twitchcard:hover .tc-buttons {
    color: rgb(63, 98, 204);
}

.twitchcard .tc-buttons button {
    transition: color ease-out 0.1s;
    /* transition: font-size ease-in 0.2s; */
}

.twitchcard .tc-buttons button:hover {
    /* color: #0074D9; */
    color: rgb(44, 74, 165);
    /* font-size: 1.1em; */
}

.tc-buttons .tc-cancel:hover {
    color: rgb(186, 52, 42) !important;
}

.twitch-add {
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;

    position: relative;
    background-color: transparent;
    /* transition: background 0.3s; */
    /* background-color: rgb(100, 65, 164); */
}

.twitch-add > div {
    font-size: 1.2em;
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    bottom: 0;
    /* transition: opacity 0.3s; */
}

.twitch-add .twitch-add-front {
    transition: color 0.3s;
    position: relative;
    z-index: 3;
}

.twitch-add .twitch-add-back {
    background: radial-gradient(circle, rgb(22, 33, 43) 0%, rgba(100, 65, 164, 1) 100%);
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition-timing-function: ease-out;
    transition: opacity 0.3s;
}

.twitch-add .twitch-add-middle {
    background: radial-gradient(circle, rgba(100, 65, 164, 1) 0%, rgba(100, 65, 164, 1) 100%);
    position: absolute;
    z-index: 1;
    /* transition-timing-function: ease-in; */
}

.twitch-add:hover>.twitch-add-back {
    opacity: 1;
}

/* .twitch-add:hover>.twitch-add-middle {
    opacity: 0;
} */

.twitch-add:hover>.twitch-add-front {
    color: rgb(100, 65, 164)
}

.twitch-pm {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    top: 0;
}

.twitch-pm .t-pu {
    position: absolute;
    top: 100px;
    width: 450px;
    background-color: #1d2125;
    left: 50%;
    transform: translateX(-50%);
    min-height: 500px;
    border-radius: 5px;
    transition: opacity 0.3s;
    opacity: 0;
}

.twitch-pm .tpu-form-container {
    padding: 1.25rem;
    position: relative;
}

.waiting-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.waiting-wrapper>*:first-child {
    transform: translate(-50%, -80%);
}

.tc-ta {
    background-color: #3A4149;
    width: 100%;
    padding: 3px 5px;
}

.tc-delafter {
    margin-bottom: 90px;
}

.tpu-buttons {
    position: absolute;
    width: 100%;
    padding: 1.25em;
    bottom: 0;
    left: 0;
}

.tpu-buttons button.primary-button {
    background-color: rgb(100, 65, 164);
    transition: opacity 0.3s;
}

.tpu-buttons button.primary-button:hover {
    background-color: rgba(100, 65, 164, 0.8);
}

.tpu-buttons button.primary-button:disabled {
    color: rgb(122, 122, 122);
    cursor: not-allowed;
    /* background-image: linear-gradient(63deg, #230063 38.89%, #610000 38.89%, #610000 50%, #230063 50%, #230063 88.89%, #610000 88.89%, #610000 100%); */
    /* background-size: 10.10px 19.82px; */
    /* background-color: rgba(35, 0, 99, 0.8); */
    opacity: 0.5;
}

.twitch-cancel-bottom {
    margin-left: 15px;
    position: absolute;
    right: 1.25em;
}

.tpu-buttons hr:first-child {
    margin-bottom: 10px;
}