body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  /*font-size: .875rem;*/
  font-weight: 400;
  color: #e4e7ea !important;
  background-color: #2f353a !important;
}

#root {
  height: 100%;
}

.lspinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}

.app {
  display: flex;
}

.top-header {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: #3a4149;
  /* border-bottom: 1px solid #23282c; */
  /* background-color: #3c304b; */
  color: #e4e7ea;
  width: 100%;
  z-index: 1100;
}

.userbox {
  position: fixed;
  top: 55px;
  right: 0;
  border-top: 1px solid #23282c;
}

.userbox:hover .userbox-under {
  height: 20px;
}

.userbox .userbox-under {
  position: relative;
  height: 0;
  line-height: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .8rem;
  overflow: hidden;
  border-left: 1px solid #23282c;
  background-color: rgb(10, 46, 112);
  transition: height 0.5s;
  transition-delay: 0.05s;
}

.userbox .userbox-ui {
  display: flex;
  align-items: center;
  border-radius: 0 0 0 30px;
  background-color: #3a4149;
  padding: 10px;
  border-left: 1px solid #23282c;
  border-bottom: 1px solid #23282c;
  cursor: context-menu;
}

.userbox .userbox-under a {
  display: block;
  width: 100%;
  height: 100%;
}

.userbox-av img {
  border-radius: 50em;
  height: 35px;
  margin: 0;
  margin-left: 3px;
}

.userbox-uid {
  margin-left: 10px;
}

.userbox-uname {
  color: #fff;
  font-weight: 600;
  margin-right: 3px;
  text-decoration: dashed;
}

.userbox-disc {
  font-style: italic;
  font-size: 0.9em;
  color: rgb(67, 217, 255);
}

/*.h-title {
  color: #001f3f;
}*/

.rnav {
  display: flex;
}

.rnav-nav button {
  margin: 0 8px;
  border-width: 2px;
}

.rnav-nav {
  list-style: none;
  display: flex;
  align-items: center;
  /*transform: translateY(20%);*/
}

.rnav-nav li {
  position: relative;
  padding-left: .5rem;
  padding-right: .5rem;
}

.rnav-logout a {
  color: rgb(255, 116, 116);
}

.rnav-link {
  min-width: 50px;
  margin: 0;
  display: block;
}

.rnav-guild {
  color: #daa520;
  max-height: 55px;
  overflow: hidden;
  white-space: nowrap;
}

.rnav-guild-divider {
  padding-left: 20px;
  margin-right: 8px;
  border-right: solid 2px #daa520;
  height: 22px;
}

.rnav-img {
  height: 45px;
  width: 45px;
  /*transform: translateY(-7%);*/
}

.rnav-img img {
  /*position: fixed;*/
  border-radius: 50em;
}

.controls-body {
  /* Setting this to 100% actually gives the cards space */
  /*width: 100%;*/
  display: flex;
  margin-top: 55px;
}

.app .x-sidebar {
  height: calc(100vh - 55px);
  margin-left: 0;
  position: fixed;
  width: 200px;
  background: #3a4149;
  border-right: 1px solid #23282c;
  border-top: 1px solid #23282c;
}

.x-sidebar nav {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.lanav {
  padding: .75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  color: #e4e7ea;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lanav-item {
  position: relative;
}

.lanav-link {
  display: block;
  padding: .75rem 1rem;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.lanav-icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0 .5rem 0 0;
  font-size: .875rem;
  color: #73818f;
  text-align: center;
}

.x-main {
  margin-left: 200px;
  flex: 1;
  box-sizing: border-box;
  display: block;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.x-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #3a4149;
  background-clip: border-box;
  border: 1px solid #23282c;
  border-radius: .25rem;
  max-width: 83ch;
  margin-bottom: 24px;
}

.cardtag {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 5px;
  height: 27px;
  border-radius: 7px;
  color: rgb(0, 22, 112);
  font-weight: 600;
}

/*.cardtag::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  border-left: 4px solid black;
  width: 4px;
  height: 100%;
}*/

.cardtag-g {
  background-color: lightseagreen;
}
.cardtag-y {
  background-color: goldenrod;
}
.cardtag-r {
  background-color: rgb(206, 107, 95);
}

.x-card-header {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #343b41;
  border-bottom: 1px solid #23282c;
}

.x-card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-section {
  margin-bottom: 1rem;
}

.input-group {
  position: relative;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;*/
  width: 100%;
}

.cardsubtitle {
  color: #fefefe;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: .5rem;
  line-height: 1.2;
  margin-top: 0;
}

.c-button {
  background-color: #2F353A;
  border: solid #fff 1px;
  padding: 4px 10px;
}

.c-button:disabled {
  background-color: #000000;
}

.field-alert {
  position: fixed;
  width: 200px;
  bottom: 0;
  left: 0;
  padding: 5px;
  opacity: 0;
}

.field-success {
  color: limegreen;
  background-color: rgba(0,200,0,0.4);
}

.field-error {
  color: red;
  background-color: rgba(200,0,0,0.4);
}

.field-alert-in {
  opacity: 1;
  transition: opacity 200ms;
}

.field-alert-out {
  opacity: 0;
  transition: opacity 200ms;
}

.guilds-menu-center {
  border: solid 2px #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .app .x-sidebar, .field-alert {
    width: 50px;
  }
  .x-main {
    margin-left: 50px;
  }
  .lanav-icon {
    display: block;
    float: left;
    width: 50px;
    font-size: 18px;
  }
  .rnav-guild-divider {
    display: none;
  }
  .top-header {
    padding-left: 0;
  }
  .lanav-link {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .guilds-menu-center {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 650px) {
  .guilds-menu-center {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .h-title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .userbox {
    display: none;
  }
}
