body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  /*font-size: .875rem;*/
  font-weight: 400;
  color: #e4e7ea !important;
  background-color: #2f353a !important;
}

.lspinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}

.app {
  display: flex;
}

.top-header {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: #3a4149;
  color: #e4e7ea;
  width: 100%;
  z-index: 1100;
}

.h-title {
  /*color: #001f3f;*/
}

.rnav-nav button {
  margin: 0 8px;
  border-width: 2px;
}

.rnav-nav {
  list-style: none;
  display: flex;
  transform: translateY(20%);
}

.rnav-nav li {
  position: relative;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.rnav-link {
  min-width: 50px;
  margin: 0;
  display: block;
}

.rnav-guild {
  padding-right: 20px;
  color: #daa520;
  border-right: solid 2px #daa520;
  max-height: 55px;
  overflow: hidden;
}

.rnav-img {
  height: 50px;
  width: 50px;
  transform: translateY(-7%);
}

.rnav-imag img {
  position: fixed;
}

.controls-body {
  /* Setting this to 100% actually gives the cards space */
  /*width: 100%;*/
  display: flex;
  margin-top: 55px;
}

.app .x-sidebar {
  height: calc(100vh - 55px);
  margin-left: 0;
  position: fixed;
  width: 200px;
  background: #3a4149;
  border-right: 1px solid #23282c;
  border-top: 1px solid #23282c;
}

.x-sidebar nav {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.lanav {
  padding: .75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  color: #e4e7ea;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.lanav-item {
  position: relative;
}

.lanav-link {
  display: block;
  padding: .75rem 1rem;
  text-decoration: none;
}

.x-main {
  margin-left: 200px;
  flex: 1;
  box-sizing: border-box;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.x-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #3a4149;
  background-clip: border-box;
  border: 1px solid #23282c;
  border-radius: .25rem;
}

.x-card-header {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #343b41;
  border-bottom: 1px solid #23282c;
}

.x-card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-section {
  margin-bottom: 1rem;
}

.input-group {
  position: relative;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;*/
  width: 100%;
}

.cardsubtitle {
  color: #fefefe;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: .5rem;
  line-height: 1.2;
  margin-top: 0;
}

.c-button {
  background-color: #2F353A;
  border: solid #fff 1px;
  padding: 4px 10px;
}

.c-button:disabled {
  background-color: #000000;
}

.field-alert {
  position: relative;
  padding: 5px;
}

.field-success {
  color: limegreen;
  background-color: rgba(0,200,0,0.4);
}

.field-error {
  color: red;
  background-color: rgba(200,0,0,0.4);
}
